spring:
  application:
    name: "fahasa-backend"
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  data:
    web:
      pageable:
        one-indexed-parameters: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - read:user
              - user:email
  # Config mail
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# Config server
server:
  port: ${PORT:8080}

# Logging
logging:
  level:
    org:
      springframework:
        security: TRACE
        orm:
          jpa:
            support: DEBUG
      hibernate:
        SQL: DEBUG
        orm:
          jdbc:
            bind: trace

# Fahasa properties
fahasa:
  security:
    authentication:
      jwt:
        # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
        base64-secret: ${FAHASA_JWT_BASE64_SECRET}
        #        token-validity-in-seconds: 1800 # 30 minutes
        token-validity-in-seconds: 1800000 # 30 minutes
        token-validity-in-seconds-for-refresh-token: 1_296_000 # 15 days
  mail:
    base-url: http://localhost:8080
  cloudinary:
    product-folder: "fahasa/products"

# Cloudinary properties
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}