<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title>Fahasa đặt lại mật khẩu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="|Xin chào ${account.getEmail()},|">Dear</p>
<p>
    Chúng tôi đã nhận được yêu cầu đổi mật khẩu của bạn. Hãy nhập mã này vào Fahasa:
</p>
<p>
    <b th:text="${account.getOtpValue()}">
        Mã đặt lại mật khẩu 6 chữ số
    </b>
</p>
<p>
    <span>Trân trọng cảm ơn!</span>
    <br/>
    <em>Đội ngũ bảo mật của Fahasa</em>
</p>
</body>
</html>
